<div class="container align-items-center">
  <div class="row align-items-center">
    <h1 class="my-2" style="text-align:center">AlarmiDani</h1>
    <div class="col-xs-10 col-lg-5 card px-2 ">
      <div class="card-body text-center">
        <figure><img src="../../../assets/relog2.png" alt="" style="width: 100px;"></figure>
        <h2 class="my-2">AlarmiDani</h2>
        <p class="my-2">¡La Aplicación WEB de Alarma que cambiara tu vida...</p>
      </div>
    </div>
    <div class="col-xs-10 col-lg-5 container">
      <div class="row">
        <h2 class="my-2">Como deséa Ingresar</h2>


        <div class="logo-body">
          <figure><img src="../../../assets/logoFacebook.jpg" alt="facebook" style="width: 100px;"></figure>
          <figure><img src="../../../assets/logogogle.png" alt="google" style="width: 100px;"></figure>
          <figure><img src="../../../assets/logoIns.jpg" alt="instagram" style="width: 100px;"></figure>
          <figure><img src="../../../assets/logotwiter.png" alt="twitter" style="width: 100px;"></figure>   
        </div>

        <div *ngIf="error">
          <div class="alert alert-danger" role="alert">
            Usuario o contraseña incorrectos
          </div>
        </div>
        <div class="mb-3 row">
          <label for="text" class="col-lg-4 col-form-label">Username</label>
          <div class="col-lg-9  ">
            <input #usuario type="text" class="form-control" placeholder="Usuario">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="staticEmail" class="col-lg-4 col-form-label">Email</label>
          <div class="col-lg-9  ">
            <input #usuario type="text" class="form-control" placeholder="email">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-lg-4 col-form-label">Password</label>
          <div class="col-lg-9">
            <input #contrasena type="password" class="form-control" placeholder="*********">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-lg-4 col-form-label">Repita Password</label>
          <div class="col-lg-9">
            <input #contrasena type="password" class="form-control" placeholder="*********">
          </div>
        </div>
        <div class="col-12 text-center mt-3">
          <button (click)="onLogInUsuario(usuario.value, contrasena.value)" type="button"
            class="btn btn-warning col-8">Registrarse</button>
        </div>
        
      </div>
    </div>
  </div>
</div>
