<!-- <app-header></app-header>  -->
<div class="container text-center">
  <p class="fs-1" align=center>AlarmiDani</p>
  <p class="fs-3" align=center>Lista de alarmas</p>
  
  
    <div class="col-xs-2 col-lg-5 menu-izquierda">
      <div class="row">
        <div class="menu">
  
          <div id="divRegistrar" class="col-12 text-center mt-3" (click)="navegarClassicAlarm()">
            <button id="btnRegistrar" type="submit" class="btn btn-warning col-8">Alarma Clasica</button>
          </div>
          <div id="divRegistrar" class="col-12 text-center mt-3" (click)="navegarVoiceAlarm()">
            <button id="btnRegistrar" type="submit" class="btn btn-warning col-8">Alarma con Voz</button>
          </div>
          <div id="divRegistrar" class="col-12 text-center mt-3" (click)="navegarPersonalizedAlarm()">
            <button id="btnRegistrar" type="submit" class="btn btn-warning col-8">Alarma Personalizada</button>
          </div>
  
        </div>
      </div>
    </div>
  
    <div class="col-xs-2 col-lg-5 menu-derecha">
    <div class="row">
      <p class="fs-5" align=left>Ingrese el nombre de la alarma a buscar:</p>
          <div class="mb-0 row">
            <div class="col-lg-9  ">
              <input #usuario type="text" class="form-control" placeholder="nombre de la alarma">
            </div>
          </div>
  
          <p>
            <div class="mb-1 row-1">
              <select name="miselect" >
              <option [value]="item" *ngFor="let item of lista">{{item}}</option>
              </select>
            </div>
         
            <div id="divRegistrar" class="col-12 text-center mt-3" (click)="navegarOrigen()">
              <button id="btnRegistrar" type="submit" class="btn btn-warning col-8">Agregar alarma</button>
            </div>
      </div>
    </div>

    

  </div>
  