<!-- <app-header></app-header>  -->
<div class="container text-center">
<p class="fs-1" align=center>AlarmiDani</p>
<p class="fs-3" align=center>Alarma Clásica</p>


  <div class="col-xs-2 col-lg-5 menu-izquierda">
    <div class="row">
      <div class="menu">

        <div id="divRegistrar" class="col-12 text-center mt-3" (click)="navegarVoiceAlarm()">
          <button id="btnRegistrar" type="submit" class="btn btn-warning col-8">Alarma con Voz</button>
        </div>
        <div id="divRegistrar" class="col-12 text-center mt-3" (click)="navegarPersonalizedAlarm()">
          <button id="btnRegistrar" type="submit" class="btn btn-warning col-8">Alarma personalizada</button>
        </div>
        <div id="divRegistrar" class="col-12 text-center mt-3" (click)="navegarAlarmList()">
          <button id="btnRegistrar" type="submit" class="btn btn-warning col-8">Lista de Alarmas</button>
        </div>

      </div>
    </div>
  </div>

  <div class="col-xs-2 col-lg-5 menu-derecha">
  <div class="row">
  
        <p class="fs-5" align=left>Seleccione la fecha de inicio</p>
        <figure><img src="../../../assets/Calendario.png" alt="" style="width: 100px;" align="left"></figure>
        
        <p class="fs-5" align=left>Seleccione la Hora de inicio</p>
        <figure><img src="../../../assets/relog2.png" alt="" style="width: 100px;" align="left"></figure>

        <p class="fs-5" align=left>Días en los que se repite la alarma</p>
      <button type="button" class="btn btn-primary algo">Lunes</button>
      <button type="button" class="btn btn-primary algo">Martes</button>
      <button type="button" class="btn btn-primary algo">Miercoles</button>
      <button type="button" class="btn btn-primary algo">Jueves</button>
      <button type="button" class="btn btn-primary algo">Viernes</button>
      <button type="button" class="btn btn-primary algo">Sabado</button>
      <button type="button" class="btn btn-primary algo">Domingo</button>
      <button type="button" class="btn btn-primary algo">Todos</button>
    </div>
  </div>

  <div id="divRegistrar" class="col-12 text-center mt-3" (click)="navegarOrigen()">
    <button id="btnRegistrar" type="submit" class="btn btn-warning col-8">Agregar alarma</button>
  </div>
</div>

