<!-- <app-header></app-header>  -->
<div class="container text-center">
  <p class="fs-1" align=center>AlarmiDani</p>
  <p class="fs-3" align=center>Alarma con Voz</p>
  
  
    <div class="col-xs-2 col-lg-5 menu-izquierda">
      <div class="row">
        <div class="menu">
  
          <div id="divRegistrar" class="col-12 text-center mt-3" (click)="navegarClassicAlarm()">
            <button id="btnRegistrar" type="submit" class="btn btn-warning col-8">Alarma Clasica</button>
          </div>
          <div id="divRegistrar" class="col-12 text-center mt-3" (click)="navegarPersonalizedAlarm()">
            <button id="btnRegistrar" type="submit" class="btn btn-warning col-8">Alarma personalizada</button>
          </div>
          <div id="divRegistrar" class="col-12 text-center mt-3" (click)="navegarAlarmList()">
            <button id="btnRegistrar" type="submit" class="btn btn-warning col-8">Lista de Alarmas</button>
          </div>
  
        </div>
      </div>
    </div>
  
    <div class="col-xs-2 col-lg-5 menu-derecha">
    <div class="row">
  
          <p class="fs-5" align=left>Seleccione la fecha de inicio</p>
          <figure><img src="../../../assets/Calendario.png" alt="" style="width: 100px;" align="left"></figure>
          
          <p class="fs-5" align=left>Seleccione la Hora de inicio</p>
          <figure><img src="../../../assets/relog2.png" alt="" style="width: 100px;" align="left"></figure>
  
          <p class="fs-5" align=left>Días en los que se repite la alarma</p>
          <button type="button" class="btn btn-primary algo">Lunes</button>
          <button type="button" class="btn btn-primary algo">Martes</button>
          <button type="button" class="btn btn-primary algo">Miercoles</button>
          <button type="button" class="btn btn-primary algo">Jueves</button>
          <button type="button" class="btn btn-primary algo">Viernes</button>
          <button type="button" class="btn btn-primary algo">Sabado</button>
          <button type="button" class="btn btn-primary algo">Domingo</button>
          <button type="button" class="btn btn-primary algo">Todos</button>
      </div>
       <div class="row">
    
          <p class="fs-5" align=left>Presione el microfono si quiere grabar un sonido</p>
          <figure><img src="../../../assets/microfone.png" alt="" style="width: 100px;" align="left"></figure>
          
          <p class="fs-5" align=left>Seleccione si quiere agregar un vide de youtube</p>
          <figure><img src="../../../assets/logoyoutube.png" alt="" style="width: 100px;" align="left"></figure>
  
          <p class="fs-5" align=left>Ingrese la cantiodad de veces que suena la larma antes de apagarse</p>
          <div class="mb-0 row">
            <div class="col-lg-9  ">
              <input #usuario type="number" class="form-control" placeholder="numero">
            </div>
          </div>
       
      </div>
    </div>
  </div>
  