<div class="container align-items-center">
  <div class="row align-items-center">
    <div class="col-xs-10 col-lg-5 card px-2 ">
      <div class="card-body text-center">
        <h2 class="my-2">AlarmiDani</h2>
        <figure><img src="../../../assets/relog2.png" alt="" style="width: 100px;"></figure>
        
      </div>
    </div>

    <div class="col-xs-10 col-lg-5 container">
      <div class="row">

        <div class="my-2 row">
          <h1 class="text-center">Desea Agregar alguna alarma</h1>
        </div>

        <div class="menu">

          <div id="divRegistrar" class="col-12 text-center mt-3" (click)="navegarClassicAlarm()">
            <button id="btnRegistrar" type="submit" class="btn btn-warning col-8">Alarma Clásica</button>
          </div>
          
          <div id="divRegistrar" class="col-12 text-center mt-3" (click)="navegarVoiceAlarm()">
            <button id="btnRegistrar" type="submit" class="btn btn-warning col-8">Alarma con Voz</button>
          </div>
          <div id="divRegistrar" class="col-12 text-center mt-3" (click)="navegarPersonalizedAlarm()">
            <button id="btnRegistrar" type="submit" class="btn btn-warning col-8">Alarma personalizada</button>
          </div>
          <div id="divRegistrar" class="col-12 text-center mt-3" (click)="navegarAlarmList()">
            <button id="btnRegistrar" type="submit" class="btn btn-warning col-8">Lista de Alarmas</button>
          </div>


        </div>

      </div>
    </div>
  </div>
</div>
